<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Indian Curry</title>
    <link rel="stylesheet" href="/assests/stylesheet/stylesheet.css"/>
    <link rel="stylesheet" href="/assests/stylesheet/feedback.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
    <div class="rating-container">
        <h3>Give Your Feedback For</h3>
          <div class="rating-content">
        <img src='<%= theItem.imgUrl %>' width="200" height="150" alt="No image found"/>
        <h3><strong><%= theItem.itemName %></strong></h3>
        <h4>by <%= theItem.description %> </h4>
        <h4><%= theItem.catalogCategory %></h4>


</div>
                <form action=""/profile/myItems" method="post"">
                  <div class="stars">

                  <input class="star star-5" id="star-5" type="radio" name="star"/>

                  <label class="star star-5" for="star-5"></label>

                  <input class="star star-4" id="star-4" type="radio" name="star"/>

                  <label class="star star-4" for="star-4"></label>

                  <input class="star star-3" id="star-3" type="radio" name="star"/>

                  <label class="star star-3" for="star-3"></label>

                  <input class="star star-2" id="star-2" type="radio" name="star"/>

                  <label class="star star-2" for="star-2"></label>

                  <input class="star star-1" id="star-1" type="radio" name="star"/>

                  <label class="star star-1" for="star-1"></label>
                  <input type="hidden" name="itemCode" value="<%= theItem.itemCode %>">
</div>
<button type="submit" name="action" class=" button-confirmRating" value="updateRating">Confirm Rating</button>

</form>




<div class="feedback-buttons">
        <form class="form-Ordered" action="/profile/myItems" method="post">
          <input type="hidden" name="itemCode" value="<%= theItem.itemCode %>">
          <input type="radio" name="Ordered" value="Yes"> Yes
          <input type="radio" name="Ordered" value="No" checked=checked> No
          <button class="button-Ordered" name="action" value="updateFlag">Ordered</button>

</form>
</div>

    </div>
    <% include partials/footer.ejs %>
</body>
</html>
